h1 {
  text-align: center;
}
h2 {
  text-align: left;
}

body {
  background: rgb(215, 243, 252);
}
.login_container {
  position: relative;
  z-index: 1;
  background: lightblue;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.actions_button {
  text-transform: uppercase;
  outline: 0;
  background: rgb(65, 176, 245);
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  
}

.password_field {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}

.email_field {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}

.Devise_container {
  text-align: center;
}

.forgot_font {
  color: black;
}

.Edit_container {
 text-align: center;
 height: 350px;
 width: 400px;
 margin: auto;
}

.edit_field {
  text-align: left;
}