h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.login_container {
  margin: auto;
  text-align: center;
  border: 5px; border-style: solid;
  width: 350px;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Devise_container {
  text-align: center;
}

.Edit_container {
 text-align: center;
 height: 350px;
 width: 400px;
 margin: auto;
}

.edit_field {
  text-align: left;
}