// Place all the styles related to the Preferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form#preference{
    label {
        display: inline;
    }
    .table{
        display: table;
        width: 80vw;
    }
    .table .thead{
        display:table-header-group;
    }
    .table .tbody{
        display:table-row-group;
    }
    .table .tr{
        display:table-row;
    }
    .table .th, .table .td{
        display:table-cell;
        padding: 0.5vw;
    }
}