// Place all the styles related to the Preferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#preference{
    label{
        display: inline;
    }
    .data{
        @extend label;
        text-align: right;
    }
    .shift{
        @extend .data;
        border: gray solid 1px;
        padding-left: 2vw;
        margin-right: 1vw;
    }
    .schedule{
        @extend .data;
    }
    .table{
        display: table;
        width: 80vw;
    }
    .table .thead{
        display:table-header-group;
    }
    .table .tbody{
        display:table-row-group;
    }
    .table .tr{
        display:table-row;
    }
    .table .th, .table .td{
        display:table-cell;
        padding: 0.5vw;
    }
}
#mes {
    color: green;
}

#error {
    color: red;
}