// %h1 Listing policies

// %table
//   %thead
//     %tr
//       %th
//       %th
//       %th

//   %tbody
//     - @policies.each do |policy|
//       %tr
//         %td= link_to 'Show', policy
//         %td= link_to 'Edit', edit_policy_path(policy)
//         %td= link_to 'Destroy', policy, method: :delete, data: { confirm: 'Are you sure?' }

// %br

// = link_to 'New Policy', new_policy_path
%h1 THERE MUST BE SOMETHING WRONG